@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>


    <a href="/MemeController/GetMemes" class="Button">Get Memes</a>
    @Html.ActionLink("Button name", "GetMemes", "Meme")
</div>
Views\Memes\GetMemes.cshtml